<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="/static/style.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'dashboard' %}">Trello</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
      {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'all_boards' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create_board' %}">Create board</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'all_boards' %}">All boards</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'favorite_boards' %}">Favourite boards</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'archive_boards' %}">Archive boards</a>
            </li>
          </ul>
        </div>
      {% endif %}
    </div>
    <div>
        <form action="{% url 'search' %}" method="get">
            <input name="q" type="text" placeholder="Search...">
        </form>
    </div>

</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

<script src="/static/js/script.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>