{% extends "base.html" %}
{% block content %}
<div class="container" style="width: 100%; height: 40%; background-image: url('{{ card.list.board.background.url }}'); color: aliceblue;">
</div>
<div class="col-md-8 offset-md-2">
    <a href="{% url 'list_detail' card.list.pk %}"><h1>{{ card.list.title }}</h1></a>
    <h2>Card: {{ card.title }}</h2>
    <p>{{ card.description }}</p>
    <a href="{% url 'card_update' card.pk %}"><p>Edit</p></a>
    <a href="{% url 'card_delete' card.pk %}"><p>Delete</p></a>
    {% if card.members %}
    <h3>Members</h3>
    <a href="{% url 'member_add_to_card' card.pk %}"><p>Add member</p></a>
    <a href="{% url 'member_remove_from_card' card.pk %}"><p>Remove member</p></a>
    <ul>
        {% for member in card.members.all %}
        <li>{{ member }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div>
    <a href="{% url 'checklist_all' card.pk %}"><h3>Checklists</h3></a>
    <a href="{% url 'checklist_create' card.pk %}"><p>Add Checklist</p></a>
    {% if card.checklists.all %}
        {% for checklist in card.checklists.all %}
            <a href="{% url 'checklist_detail' checklist.pk %}">{{ checklist }}</a>
        {% endfor %}
    {% else %}
        <h4>Empty</h4>
    {% endif %}
</div>
<div>
    <h3>Comments:</h3>
    {% if card.comments.all %}
    <ul>   
        {% for comment in card.comments.all %} 
            <li> 
                <p>{{comment.text}}</p>
                <p>{{comment.author.username}}, <a href="{% url 'comment_detail' comment.pk %}"><p>{{comment.created_at}}</p></a></p> 
                <a href="{% url 'comment_delete' comment.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No comments</p>
    {% endif %}
    <a href="{% url 'comment_create' card.pk %}"><p>Write a comment...</p></a>
</div>
<div>
    <h3>Labels:</h3>
    {% if card.labels.all %}
    <ul>   
        {% for label in card.labels.all %} 
            <li>                 
                <a href="{% url 'label_detail' label.pk %}"><p>{{label.title}}</p></a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No labels</p>
    {% endif %}
    <a href="{% url 'label_create' card.pk %}"><p>Add label<p></a>
</div>
{% endblock %}