{% extends "base.html" %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.errors %}
        <p>{{ error }}</p>
    {% endif %}
    <button type="submit">Update</button>
  </form>
{% endblock %}