{% extends "base.html" %}
{% block content %}
<a href="{% url 'card_detail' comment.card.pk %}">Back to card</a>
<div class="col-md-8 offset-md-2">
    <h2>{{ comment.card.title }}</h2>
    <div>
        <p>{{ comment.text }}</p>
        <p>{{ comment.author.username }}, {{ comment.created_at }}</p>
    </div>
    <a href="{% url 'comment_update' comment.pk %}">Edit</a>
</div>
{% endblock %}