{% extends "base.html" %}
{% block content %}
{% if cards.all %}
<a href="{% url 'list_detail' cards.last.list.pk %}"><h3>Lists:</h3></a>
    <div class="example-parent">
        <div class="example-origin">
        {% for card in cards.all %}
            <div 
                id={{card.id}}
                class="example-draggable" 
                draggable="true" 
                ondragstart="onDragStart(event);" 
                ondragover="onDragOver(event);"
                ><a href="{% url 'card_detail' card.pk %}"><h2>{{ card.title }}</h2></a>
            </div>
        {% endfor %}
            <div 
            class="example-dropzone" 
            ondragover="onDragOver(event);" 
            ondrop="onDrop(event);"
            ></div>
        </div>
    </div>  
{% else %}
    <h5>Empty</h5>
{% endif %}
{% endblock %}