{% extends "base.html" %}
{% block content %}
<div class="container" style="width: 100%; height: 40%; background-image: url('{{ list.board.background.url }}'); color: aliceblue;">
</div>
<div class="col-md-8 offset-md-2">
    <a href="{% url 'board_detail' list.board.pk %}"><h1>{{ list.board.title }}</h1></a>
    <h2>{{ list.title }}</h2>
    <a href="{% url 'update_list' list.pk %}">Change</a>
    <a href="{% url 'delete_list' list.pk %}">Delete</a>
    <a href="{% url 'card_list' list.pk %}">Cards</a>
    <a href="{% url 'card_create' list.pk %}">Add a card</a>
    <h3>Cards:</h3>
    {% if list.cards.all %}
        <div class="example-parent">
            <div class="example-origin">
            {% for card in list.cards.all %}
                <div 
                    id={{card.id}}
                    class="example-draggable" 
                    draggable="true" 
                    ondragstart="onDragStart(event);" 
                    ondragover="onDragOver(event);"
                    ><a href="{% url 'card_detail' card.pk %}"><h2>{{ card.title }}</h2></a>
                </div>
            {% endfor %}
                <div 
                class="example-dropzone" 
                ondragover="onDragOver(event);" 
                ondrop="onDrop(event);"
                ></div>
            </div>
        </div>  
    {% else %}
        <h5>Empty</h5>
    {% endif %}
</div>
{% endblock %}