{% extends "base.html" %}
{% block content %}
<div class="col-md-8 offset-md-2">
    {% if lists %}
    {% for list in lists %}
        <div style="background-color: grey;">
            <a href="{% url 'list_detail' list.id %}"><h1>{{ list.title }}</h1></a>
        </div>    
    {% endfor %}
    {% else %}
        <h2>No lists</h2>
    {% endif %}
</div>
</div>
{% endblock %}