{% extends "base.html" %}
{% block content %}
<div class="col-md-8 offset-md-2">
    <h2>{{ checklist.title }}</h2>
    <a href="{% url 'checklist_update' checklist.pk %}">Edit checklist</a>
    <a href="{% url 'checklist_delete' checklist.pk %}">Delete</a>
    <a href="{% url 'item_create' checklist.pk %}">Add item</a>
</div>
<div>
    <h2>Items</h2>
        {% if checklist.items.all %}
            {% for item in checklist.items.all %}
                <a href="{% url 'item_detail' item.pk %}">{{ item.title }}</a>
            {% endfor %}
        {% else %}
            <h4>Empty</h4>
        {% endif %}
</div>
{% endblock %}