{% extends "base.html" %}
{% block content %}
<div class="col-md-8 offset-md-2">
    {% if checklists %}
    <h1>Checklists:</h1>
    {% for checklist in checklists %}
    <a href="{% url 'checklist_detail' checklist.pk %}"><h3>{{ checklist.title }}</h3></a>
    {% endfor %}
    {% else %}
    <h3>No checklists</h3>
    {% endif %}
</div>
{% endblock %}