{% extends "base.html" %}
{% block content %}
<div class="col-md-8 offset-md-2">
    <h2>{{ item.title }}</h2>
    <p>{{ item.assign }}</p>
    <a href="{% url 'item_update' item.pk %}">Edit</a>
    <a href="{% url 'item_delete' item.pk %}">Delete</a>
</div>
{% endblock %}