{% extends 'base.html' %}
{% load socialaccount %}

{% block content %}
<h2>Login</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login">
</form>
{% if user.is_authenticated %}
<a href="{% url 'account_logout' %}"> Logout </a>
{% else %}
<a href="{% url 'account_login' %}"> Login </a>
<a href="{% provider_login_url 'google' %}"> Login with Google </a>
{% endif %}

<a href="{% url 'dashboard' %}"> Back to dashboard </a>
{% endblock %}