{% extends 'base.html' %}
{% load socialaccount %}

{% block content %}
Hello, {{ user.username|default:'Guest' }}!
<div>
    {% if user.is_authenticated %}
    <a href="{% url 'account_logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'account_login' %}">Login</a>
    <a href="{% url 'account_signup' %}">Sign up</a>
    <a href="{% provider_login_url 'google' %}">Login with Google</a>
    <a href="{% url 'account_reset_password' %}">Reset password </a>
    {% endif %}
</div>
{% endblock %}