.example-parent {
    border: 2px solid #DFA612;
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  .example-origin {
    width: 100%;
    background-color: yellow;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
    display: inline-block;
  }
  
  .example-draggable {
    width: 100%;
    background-color: #4AAE9B;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 30px;
  }
  
  .example-dropzone {
    width: 100%;
    background-color: green;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 60px;
  }