{% extends "base.html" %}
{% block content %}
<a href="{% url 'card_detail' label.card.pk %}">Back to card</a>
<div class="col-md-8 offset-md-2">
    <h2>{{ label.card.title }}</h2>
    <div>
        <p>Title: {{ label.title }}</p>
        <p>Color: {{ label.color }}</p>
    </div>
    <a href="{% url 'label_update' label.pk %}">Edit</a>
    <a href="{% url 'label_delete' label.pk %}">Delete</a>
</div>
{% endblock %}