{% extends "base.html" %}
{% block content %} 
<div class="col-md-8 offset-md-2">
    <h1>Boards where I am a owner</h1>
    {% for board in boards %}
    <a href="{% url 'board_detail' board.id %}"><h1>{{ board.title }}</h1></a>
    {% if board.favorite == True %}
        <a href="{% url 'favorite_off' board.id %}">Delete from favorites</a>
    {% else %}
        <a href="{% url 'favorite_on' board.id %}">Add to favorites</a>
    {% endif %}
    {% endfor %}
    {% if request.user.member_boards.all %}
        <h1>Boards where I am a member</h1>
        {% for board in request.user.member_boards.all %}
            <a href="{% url 'board_detail' board.pk %}"><h3>{{ board.title }}</h3></a>
        {% endfor %} 
    {% endif %}
</div>
</div>
{% endblock %}