{% extends "base.html" %}
{% block content %}
<div class="col-md-8 offset-md-2">
    <h1>Last boards I worked on</h1>
    {% for board in boards %}
        <a href="{% url 'board_detail' board.id %}"><h1>{{ board.title }}</h1></a>
        {% if board.favorite == True %}
            <a href="{% url 'favorite_off' board.id %}">Delete from favorites</a>
        {% else %}
            <a href="{% url 'favorite_on' board.id %}">Add to favorites</a>
        {% endif %}
    {% endfor %}
</div>
</div>
{% endblock %}