{% extends "base.html" %}
{% block content %}
<div class="col-md-8 offset-md-2">
    <h1>Archive boards</h1>
    {% for board in boards %}
        <a href="{% url 'board_detail' board.id %}"><h1>{{ board.title }}</h1></a>
        {% if board.archive == True %}
            <a href="{% url 'archive_off' board.pk %}">Unarchive</a>
        {% endif %}
    {% endfor %}
</div>
</div>
{% endblock %}