{% extends "base.html" %}
{% block content %}
<div class="col-md-8 offset-md-2">
    <h1>My favourite boards</h1>
    {% for board in boards %}
        <a href="{% url 'board_detail' board.id %}"><h1>{{ board.title }}</h1></a>
        <a href="{% url 'favorite_off' board.pk %}">Remove from favorites</a>
    {% endfor %}
</div>
</div>
{% endblock %}