{% extends 'base.html' %}
{% block content %}
    <div class="container" style="width: 100%; height: 40%; background-image: url('{{ board.background.url }}'); color: aliceblue;">
    </div>
    <div class="col-md-8 offset-md-2">
        <h1>{{ board.title }}</h1>
        {% if board.favorite == True %}
            <a href="{% url 'favorite_off' board.pk %}">Remove from favorites</a>
        {% else %}
            <a href="{% url 'favorite_on' board.pk %}">Add to favorites</a>
        {% endif %}
        {% if board.archive == True %}
            <a href="{% url 'archive_off' board.pk %}">Unarchive</a>
        {% else %}
            <a href="{% url 'archive_on' board.pk %}">Archive the board</a>
        {% endif %}
        <a href="{% url 'list_all' board.pk %}">All lists</a>
        <a href="{% url 'create_list' board.pk %}">Create list</a>
        <form action="{% url 'filter' %}" method="get">
          <h3>Sort by...</h3>
          <input name="user" type="text" placeholder="User">
          <input name="label" type="text" placeholder="Label">
          <input type="submit" value="Submit">
      </form>
        <h3>Board owner: {{ board.user }}</h3>
        {% if board.members %}
        <h3>Members</h3>
        <a href="{% url 'member_add_to_board' board.pk %}"><p>Add member</p></a>
        <a href="{% url 'member_remove_board' board.pk %}"><p>Remove member</p></a>
        <ul>
            {% for member in board.members.all %}
            <li>{{ member }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <a href="{% url 'list_all' board.pk %}"><h3>Lists:</h3></a>
        {% if board.boards.all %}
            <div class="example-parent">
                <div class="example-origin">
                {% for list in board.boards.all %}
                    <div 
                        id={{list.id}}
                        class="example-draggable" 
                        draggable="true" 
                        ondragstart="onDragStart(event);" 
                        ondragover="onDragOver(event);"
                        ><a href="{% url 'list_detail' list.pk %}"><h2>{{ list.title }}</h2></a>
                    </div>
                {% endfor %}
                    <div 
                    class="example-dropzone" 
                    ondragover="onDragOver(event);" 
                    ondrop="onDrop(event);"
                    ></div>
                </div>
            </div>  
        {% else %}
            <h5>Empty</h5>
        {% endif %}
    </div>
{% endblock %}