{% extends "base.html" %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.errors %}
      <div class="error">
        <ul>
          {% for field_errors in form.errors %}
            {% for error in field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <button type="submit">Create Board</button>
  </form>
{% endblock %}