{% extends "base.html" %}
{% block content %}
<div class="col-md-8 offset-md-2">
    <h1>Cards:</h1>
    {% if object_list %}
        <ul>
         {% for card in object_list %}
           <li>
            <a href="{% url 'card_detail' card.pk %}">{{ card.title }}</a>
           </li>
         {% endfor %}
       </ul>
    {% else %}
        <h3>No Results</h3>
    {% endif %}
</div>
</div>
{% endblock %}

