{% extends "base.html" %}
{% block content %}
<div class="col-md-8 offset-md-2">
    <h1>Search Results</h1>
    {% if object_list.0 or object_list.1 or object_list.2 %}
        <ul>
         {% for board in object_list.0 %}
           <li>
            <a href="{% url 'board_detail' board.pk %}">{{ board.title }}</a>
           </li>
         {% endfor %}
       </ul>
        <ul>
            {% for list in object_list.1 %}
            <li>
                <a href="{% url 'list_detail' list.pk %}">{{ list.title }}</a>
            </li>
            {% endfor %}
        </ul>
        <ul>
            {% for card in object_list.2 %}
            <li>
                <a href="{% url 'card_detail' card.pk %}">{{ card.title }}</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>No Results</h3>
    {% endif %}
</div>
</div>
{% endblock %}

